<h1>Results</h1>

Strategy: <%= @client.average_for 'strategy' %>/5
Processes: <%= @client.average_for 'processes' %>/5
Technology: <%= @client.average_for 'technology' %>/5
People: <%= @client.average_for 'people' %>/5