

<p>
  One of the best ways of creating competitive advantage in the market is by serving your customer as best as possible. While this may seem obvious, the majority of disruption has that occurred in established industries over the past decades have been due to new and agile companies better understanding and serving their customers than established brands. How much time do you spend looking internally compared to how much you spend looking out?

  In order to better understand how your company is serving your customers, from technology through to corporate culture complete this 5 minute quiz.


  <%= link_to "Take Quiz", new_client_path %>


  This quiz should not be used to give a comprehensive view of your company but could be used to start conversations with your colleagues, think about your weaknesses and to consider any next steps.
</p>